<div class="skill-container">
    <div class="flex">
        <div class="skill-image">
            <div class="img lhand"></div>
            <div class="img head"></div>
            <div class="img pant"></div>
            <div class="img dress"></div>
            <div class="img hittertop"></div>
            <div class="img hitterbottom"></div>
            <div class="img hammer"></div>
            <div class="img rhand"></div>
            <!-- <img class="img lhand" src="../../../assets/images/hammerart/lhand.png" alt="left hand" />
            <img class="img head" src="../../../assets/images/hammerart/head.png" alt="head" />
            <img class="img pant" src="../../../assets/images/hammerart/pant.png" alt="pant" />
            <img class="img dress" src="../../../assets/images/hammerart/dress.png" alt="dress" />
            <img class="img hammer rotate" src="../../../assets/images/hammerart/hammer.png" alt="hammer" />
            <img class="img rhand rotate" src="../../../assets/images/hammerart/rhand.png" alt="right hand" /> -->
        </div>
        <div class="skill-content">
            <div class="chart">
                <app-default *ngIf="chart=='default'"></app-default>
                 <app-scriptprogram *ngIf="chart=='scriptprogram'"></app-scriptprogram>
                 <app-frameworklibrary *ngIf="chart=='frameworklibrary'"></app-frameworklibrary>
                 <app-uxui *ngIf="chart=='uxui'"></app-uxui>
            </div>
            <div class="skillsets">
                <input class="skill-item" [class.active]="chart=='scriptprogram'" type="button" (click)="changeChart('scriptprogram')" value="Language" />
                <input class="skill-item" [class.active]="chart=='uxui'" type="button" (click)="changeChart('uxui')" value="UX/UI" />
                <input class="skill-item" [class.active]="chart=='frameworklibrary'" type="button" (click)="changeChart('frameworklibrary')" value="Technology" />
            </div>
        </div>
    </div>
</div>