@import "../../../assets/scss/variables";
@import "../../../assets/scss/utility";
.skill-container {
    background: hsl(120deg 76% 84%);//linear-gradient(180deg, #67cca0 0%, #bcffdc 65%, #67cca0 100%);
    // border: solid;
    background-attachment: fixed;
    // * {
    //     border: solid;
    // }
    .flex {
        height: inherit;
    }
    .skill-image {
        position: relative;
        width: 40%;
        height: 100%;
        overflow: hidden;
        animation: init-appear 1s;
        // padding: 15px 0;
        div.img {
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: calc(95vh - 105px) auto;
            background-repeat: no-repeat;
            filter: drop-shadow(3px 4px 3px rgba(0, 0, 0, 0.726));
        }
        .head {
            opacity: 0;
            background: url(../../../assets/images/hammerart/head.webp);
            transform-origin: center 30%;
            // animation: init-char-appear 1s .8s forwards;
        }
        .dress {
            opacity: 0;
            background: url(../../../assets/images/hammerart/dress.webp);
            // animation: init-char-appear 1s .8s forwards;
        }
        .pant {
            opacity: 0;
            background: url(../../../assets/images/hammerart/pant.webp);
            // animation: init-char-appear 1s .8s forwards;
        }
        .lhand {
            background: url(../../../assets/images/hammerart/lhand.webp);
            transform-origin: 47% 35%;
            opacity: 0;
            // animation: init-char-appear 1s .8s forwards, hit-target ease-in 2s 2.1s forwards;
        }
        .rhand {
            background: url(../../../assets/images/hammerart/rhand.webp);
            transform-origin: 47% 35%;
            opacity: 0;
            // animation: init-char-appear 1s .8s forwards, hit-target ease-in 2s 2.1s forwards;
        }
        .hammer {
            background: url(../../../assets/images/hammerart/hammer.webp);
            transform-origin: 47% 35%;
            transform: translate(-45%, 5%) rotateZ(50deg) scale(2);
            // animation: hammer 2s forwards, hit-target ease-in 2s 2.1s forwards;
        }
        .hittertop {
            opacity: 0;
            background: url(../../../assets/images/hammerart/hittertop.webp);
            transform: translateX(10px);
            // animation: hitterappear 1s .8s forwards, hittertop 1s 4s linear forwards;
        }
        .hitterbottom {
            opacity: 0;
            background: url(../../../assets/images/hammerart/hitterbottom.webp);
            transform: translateX(10px);
            filter: drop-shadow(0px 3px 3px black) !important;
            // animation: hitterappear 1s .8s forwards;
        }
    }
    .skill-content {
        width: 60%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: init-appear 1s 0.5s forwards;
        .chart {
            width: 100%;
            height: 85%;
            display: flex;
            app-scriptprogram,
            app-frameworklibrary,
            app-uxui,
            app-default {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
        .skillsets {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 15%;
            .skill-item {
                margin: 1rem 1rem;
                padding: 1rem;
                line-height: 0;
                border-radius: 10px;
                border: navajowhite;
                background: transparent;
                box-shadow: $btn-shadow;
                font-size: 1rem;
                font-family: monospace, sans-serif, Helvetica, Arial;
                &:hover {
                    box-shadow: $btn-shadow-active;
                    cursor: pointer;
                }
                &:focus,
                &:vertical {
                    background-color: #ffffff57;
                }
            }
        }
    }
}

@media (max-width:1140px) {
    div.skill-container {
        .flex {
            .skill-image{
                div.img{
                    background-size: calc(80vh - 105px) auto;
                }
                div.lhand{
                    transform-origin: 46% 38% !important;
                }
                div.rhand{
                    transform-origin: 46% 38% !important;
                }
                div.hammer{
                    transform-origin: 46% 38% !important;
                }
            }
            .skill-content {
                .skillsets {
                    .skill-item {
                        // font-size: .5rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) { //576px
    div.skill-container {
        height: 100vh;
        width: 100%;
        .flex {
            flex-direction: column-reverse;
            .skill-image{
                width: 100%;
                height: 50vh;
                div.img{
                    background-size: calc(60vh - 105px) auto;
                }
                @media (min-width:576px) {
                    div.lhand{
                        transform-origin: 48.4% 35% !important;
                    }
                    div.rhand{
                        transform-origin: 48.4% 35% !important;
                    }
                    div.hammer{
                        transform-origin: 48.4% 35% !important;
                    }
                }
                @media (max-width:576px) {
                    div.lhand{
                        transform-origin: 47.4% 36% !important;
                    }
                    div.rhand{
                        transform-origin: 47.4% 36% !important;
                    }
                    div.hammer{
                        transform-origin: 47.4% 36% !important;
                    }
                }
            }
            .skill-content {
                width: 100%;
                height: 50vh;
                .skillsets {
                    .skill-item {
                        // font-size: .5rem;
                    }
                }
            }
        }
    }
}

@media (min-height:650px) and (max-width:890px) and (min-width:769px) {
    div.skill-container {
        .flex {
            .skill-image{
                div.img{
                    background-size:calc(73vh - 105px) auto;
                }
            }
        }
    }
}
