<div class="skill-level">
    <ng-template ngFor let-level [ngForOf]="skillData['skill-level']">
        <div class="level {{level | lowercase}}">
            <span>{{level}}</span>
        </div>
    </ng-template>
</div>
<div class="chart-skills">
   <div class="chart-area">
       <div class="bar html"></div>
       <div class="bar css"></div>
       <div class="bar js"></div>
       <div class="bar java"></div>
   </div>
   <div class="skills">
       <ng-template ngFor let-lang [ngForOf]="skillData.skillsets.Language">
           <div class="skill">{{lang}}</div>
        </ng-template>
   </div>
</div>