<div class="intro-container">
    <div class="flex fx-jus-center fx-align-center">
        <div class="intro-content col-6">
            <h1>
                Hi. I’m Abinesh
                a Design Driver Web Developer .
            </h1>
            <h4>
                I’m also a front-end developer and general doodler with a keen eye for creating engaging UI, bringing products to life.
            </h4>
        </div>
        <div class="intro-img col-4">
            <!-- <img src="" width="100%" height="auto" alt="abinesh pic"> -->
        </div>
    </div>
</div>