<div class="intro-container">
    <div class="flex fx-jus-center fx-align-center">
        <div class="intro-content col-6">
            <h1>
                Hi. I’m Abinesh
                a Design Driver Web Developer .
            </h1>
            <h4>
                I’m also a front-end developer and general doodler with a keen eye for creating engaging UI, bringing products to life.
            </h4>
        </div>
        <div class="col-4">
            <div class="intro-img a"></div>
            <div class="intro-img b"></div>
            <div class="intro-img c"></div>
            <div class="intro-img d"></div>
            <div class="intro-img e"></div>
            <div class="intro-img options flex fx-dir-column fx-align-end fx-jus-start">
                <span class="option mustag"><img src="./../../../assets/images/mustag.png" (click)="toggleMustag()" width="50px" style="height: auto;" alt="mustag" /></span>
                <span class="option beard"><img src="./../../../assets/images/beard.png" (click)="toggleBeard()"  width="50px" style="height: auto;" alt="beard" /></span>
            </div>
            <!-- <img src="" width="100%" height="auto" alt="abinesh pic"> -->
        </div>
    </div>
</div>