<div class="intro-container">
    <div class="flex fx-jus-center fx-align-center">
        <div class="intro-content col-6">
            <h1>
                Hi, I’m Abinesh
                a Design Driven Web Developer.
            </h1>
            <h4>
                <b>Design</b> and <b>results-driven</b> Web Developer dedicated to <b>building and optimizing user-focused websites</b> for clients with various business objectives.
                <!-- I’m also a front-end developer and general doodler with a keen eye for creating engaging UI, bringing products to life. -->
            </h4>
        </div>
        <div class="col-4">
            <div class="intro-img a"></div>
            <div class="intro-img b"></div>
            <div class="intro-img c"></div>
            <div class="intro-img d"></div>
            <div class="intro-img e"></div>
            <div class="intro-img options flex fx-dir-column fx-align-end fx-jus-start">
                <span class="option mustag">
                    <img src="assets/images/mustag.webp" (click)="toggleMustag()" width="50px" style="height: auto;" alt="mustag" />
                    <img src="assets/images/cancel.png" (click)="toggleMustag()" alt="cancel" />
                </span>
                <span class="option beard">
                    <img src="assets/images/beard.webp" (click)="toggleBeard()"  width="50px" style="height: auto;" alt="beard" />
                    <img src="assets/images/cancel.png"  (click)="toggleBeard()" alt="cancel" />
                </span>
            </div>
            <!-- <img src="" width="100%" height="auto" alt="abinesh pic"> -->
        </div>
    </div>
</div>