.intro-container {
    background: linear-gradient(180deg, #7bb0c8 0%, #ace5ff 70%, #7bb0c8 99%);
    & > div.flex {
        height: 100%;
    }
    .intro-content {
        // background: red;
        height: fit-content;
        line-height: 80px;
        margin: 70px;
        transition: opacity 1s;
        animation: init-appear 1s;
        h1 {
            line-height: 35px;
            margin-bottom: 10px;
        }
        h4 {
            line-height: 20px;
        }
        @media (max-width: 768px) {
            width: 80%;
            text-align: center;
        }
    }
    .col-4 {
        opacity: 0;
        margin-bottom: 4rem;
        margin-right: 2rem;
        min-width: 430px;
        max-width: 556px;
        animation: init-appear 1s .5s forwards;
        &:hover .options{
            opacity: 1;
            transform: translate(0,10px);
        }
    }
    .intro-img {
        position: absolute;
        background-position: center center;
        background-size: 140% auto;
        background-repeat: no-repeat;
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.726));
        border-radius: 50%;
        color: white;
        min-width: 465px;
        margin-top: 20px;
        max-height: 90%;
    }
    .a {
        background-image: url(../../../assets/images/1.png);
    }
    .b {
        background-image: url(../../../assets/images/2.png);
        filter: drop-shadow(8px 1px 2px white) drop-shadow(-8px 0px 2px white) brightness(2);
        transform: translate(0px, 0px);
    }
    .c {
        background-image: url(../../../assets/images/3.png);
    }
    .d {
        background-image: url(../../../assets/images/4.png);
        filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.842));
        transition: all .3s;
    }
    .e {
        background-image: url(../../../assets/images/5.png);
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.842));
        transition: all .3s;
    }
    .options {
        opacity: 0;
        transform: translate(0,0);
        height: fit-content;
        margin-top: 10%;
        right: 100px;
        transition: opacity .5s,transform .7s;
        .option {
            transform: scale(1);
            box-shadow: 0px 1px 3px #000000c5;
            border-radius: 50%;
            margin: 10px 0px;
            background: #fefefe8a;
            transition: transform .3s,box-shadow .3s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 1px 1px 3px #000000be;
                cursor: pointer;
            }
        }
    }
    @media (max-width: 768px) {
        .flex {
            flex-direction: column-reverse;
            .intro-img {
                min-height: 110%;
                min-width: 100%;
                background-size: 100% auto;
                background-position: center 80%;
                margin: 0;
            }
            .col-4 {
                position: relative;
                margin-bottom: 0rem;
                margin-right: 0;
                margin-top: 2rem;
            }
        }
        .options{
            right: 50px;
        }
    }
    
    @media (max-width: 466px) {
        .flex {
            .intro-img {
                background-size: 95% auto;
                background-position: center 60%;
            }
            .col-4 {
                min-width: 100%;
            }
        }
    }
    @media (max-height:635px){
        .flex{
            .intro-img{
                background-size: 65vh auto;
            }
        }
    }
    @media (max-width: 768px) {
        .flex {
            .col-4 {
                min-height: 50vh;
            }
        }
    }
}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
