<div class="work-container">
    <div class="work-intro flex fx-dir-column">
        <div class="work-img flex fx-jus-center">
            <img src="assets/images/illusration.webp" alt="abinesh" />
        </div>
        <div class="work-desc flex fx-dir-column fx-align-center fx-jus-center">
            <h3>Here i showcased some of my <b>personel poc works</b> related to my core domain.</h3>
            <div class="work-desc-sub  flex fx-dir-column fx-align-center fx-jus-center">
                <div>
                    <div>
                        <a href="work/#portfolio"><img src="assets/images/workpic/portfolioicon.png" alt="portfolio"></a>
                        <a class="link" href="work/#portfolio">Portfolio</a>
                    </div>
                    <div>
                        <a href="work/#anime-stream"> <img src="assets/images/workpic/animeicon.png" alt="anime"></a>
                        <a class="link" href="work/#anime-stream">Anime Stream</a>
                    </div>
                    <div>
                        <a href="work/#covid"><img src="assets/images/workpic/covidicon.png" alt="covid"></a>
                        <a class="link" href="work/#covid">Covid Tracker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio" class="project portfolio">
        <div class="project-img-section">
            <div class="project-img lap video">
                <!-- <video autoplay muted loop id="myVideo">
                    <source src="assets/video/VID_20210525_205412.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video> -->
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Portfolio</h3>
            <p>
                Created portfolio using Angular with Scss pre-processors without any external css framework or
                javascript library.
                Mainly focused on <b>responsive design</b>, <b>css animation with javascript manipulation</b>,
                <b>vector illusrations</b>, <b>3d rendering</b> and <b> visual mockups</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://github.com/abineshabi82/portfolio" target="portfolio"><img
                            src="assets/images/github.png" alt="github" /></a>
                </span>
                <span class="link-item">
                    <a href="" target="portfolio-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <!-- <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span> -->
            </div>
        </div>
    </div>

    <div id="anime-stream" class="project anime-stream">
        <div class="project-img-section">
            <div class="project-img lap video">
                <!-- <video autoplay muted loop id="myVideo">
                    <source src="assets/video/VID_20210525_205412.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video> -->
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Anime Stream</h3>
            <p>
                Created anime app using React JS in a functional component approach with Scss pre-processors, bootstrap
                framework and public anime API.
                Mainly focused on <b>lifecycle hooks</b>, <b>responsive design</b>, <b>OKTA authenication and social
                    login</b>,
                <b>PWA</b> and <b> node js api </b>for user management.But below demo does not connected to nodejs or OKTA.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://stackblitz.com/edit/animestream-okta" target="animestream"><img src="assets/images/stackblitz.png" alt="stackblitz" /></a>
                </span>
                <span class="link-item">
                    <a href="https://animestream-okta.stackblitz.io/" target="animestream-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <!-- <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span> -->
            </div>
        </div>
    </div>
    <div id="covid" class="project corona-tracker">
        <div class="project-img-section">
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Corona Tracker</h3>
            <p>
                Created covid case tracker app using Angular with bootstrap framework and public covid API.
                Mainly focused on <b>lifecycle hooks</b>, <b>adaptive design </b>(designed for mobile), <b>css animation
                    with javascript manipulation</b>,
                <b>vector illusrations</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://stackblitz.com/edit/coviddemo" target="covid"><img src="assets/images/stackblitz.png" alt="stackblitz" /></a>
                </span>
                <span class="link-item">
                    <a href="https://coviddemo.stackblitz.io" target="covid-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <!-- <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span> -->
            </div>
        </div>
    </div>

    <div class="arrow">
        <img src="assets/images/arrow.png" alt="arrow" />
    </div>
</div>