<div class="work-container">
    <div class="work-intro flex fx-dir-column">
        <div class="work-img flex fx-jus-center">
            <img src="assets/images/illusration.png" alt="abinesh" />
        </div>
        <div class="work-desc flex fx-dir-column fx-align-center fx-jus-center">
            <h3>Here i showcased some of my personel poc works related to my core domain.</h3>
            <div class="work-desc-sub  flex fx-dir-column fx-align-center fx-jus-center">
                <h1>SCROLL</h1>
                <h3>TO</h3>
                <h2>SEE</h2>
            </div>
        </div>
    </div>
    <div class="project portfolio">
        <div class="project-img-section">
            <div class="project-img lap video">
                <!-- <video autoplay muted loop id="myVideo">
                    <source src="assets/video/VID_20210525_205412.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video> -->
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Portfolio</h3>
            <p>
                Tried to create portfolio using Angular with Scss pre-processors without any external css framework.
                Mainly focused on <b>responsive design</b>, <b>css animation with javascript multiplication</b>,
                <b>vector illusrations</b> and <b> visual mockups</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href=""><img src="assets/images/github.png" alt="github" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span>
            </div>
        </div>
    </div>

    <div class="project anime-stream">
        <div class="project-img-section">
            <div class="project-img lap video">
                <!-- <video autoplay muted loop id="myVideo">
                    <source src="assets/video/VID_20210525_205412.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video> -->
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Anime Stream</h3>
            <p>
                Created anime app using React JS in a functional component approach with Scss pre-processors, bootstrap framework and public anime API.
                Mainly focused on <b>lifecycle hooks</b>, <b>responsive design</b>, <b>OKTA authenication and social login</b>,
                <b>PWA</b> and <b> node js api </b>for user management.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href=""><img src="assets/images/github.png" alt="github" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span>
            </div>
        </div>
    </div>
    <div class="project corona-tracker">
        <div class="project-img-section">
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Corona Tracker</h3>
            <p>
                Created covid case tracker app using Angular with bootstrap framework and public covid API.
                Mainly focused on <b>lifecycle hooks</b>, <b>adaptive design </b>(designed for mobile), <b>css animation with javascript multiplication</b>,
                <b>vector illusrations</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href=""><img src="assets/images/github.png" alt="github" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/link.png" alt="link" /></a>
                </span>
                <span class="link-item">
                    <a href=""><img src="assets/images/resource.png" alt="resource" /></a>
                </span>
            </div>
        </div>
    </div>
</div>