<div class="work-container">
    <div class="work-intro flex fx-dir-column">
        <div class="work-img flex fx-jus-center">
            <img src="assets/images/illusration.webp" alt="abinesh" />
        </div>
        <div class="work-desc flex fx-dir-column fx-align-center fx-jus-center">
            <h3 [innerHTML]="workData['work-brief']">
            </h3>
            <div class="work-desc-sub  flex fx-dir-column fx-align-center fx-jus-center">
                <div>
                    <ng-template ngFor let-link [ngForOf]="workData['work-links']">
                        <div>
                            <a [href]="link.link" (click)="scrollToTarget($event,link.link)"><img [src]="link.icon" [alt]="link['icon-alt']"></a>
                            <a class="link" [href]="link.link" (click)="scrollToTarget($event,link.link)">{{link.title}}</a>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <ng-template ngFor let-item [ngForOf]="workData['work-projects']">
        <div [id]="item.id" class="project {{item.style}}">
            <div class="project-img-section">
                <ng-template ngFor let-img [ngForOf]="item.image">
                    <div class="project-img {{img}}"></div>
                </ng-template>
            </div>
            <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
                <h3 [innerHTML]="item.title"></h3>
                <p [innerHTML]="item.description"></p>
                <div class="link-items flex fx-jus-end">
                    <ng-template ngFor let-link [ngForOf]="item.links">
                        <span class="link-item">
                            <a [href]="link.link" [target]="link.target">
                                <img [src]="link.image" [alt]="link['alt-image']" />
                            </a>
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- <div id="portfolio" class="project portfolio">
        <div class="project-img-section">
            <div class="project-img lap video">
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Portfolio</h3>
            <p>
                Created portfolio using Angular with Scss pre-processors without any external css framework or
                javascript library.
                Mainly focused on <b>responsive design</b>, <b>css animation with javascript manipulation</b>,
                <b>vector illusrations</b>, <b>3d rendering</b> and <b> visual mockups</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://github.com/abineshabi82/portfolio" target="portfolio"><img
                            src="assets/images/github.png" alt="github" /></a>
                </span>
                <span class="link-item">
                    <a href="" target="portfolio-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
            </div>
        </div>
    </div>

    <div id="anime-stream" class="project anime-stream">
        <div class="project-img-section">
            <div class="project-img lap video">
            </div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Anime Stream</h3>
            <p>
                Created anime app using React JS in a functional component approach with Scss pre-processors, bootstrap
                framework and public anime API.
                Mainly focused on <b>lifecycle hooks</b>, <b>responsive design</b>, <b>OKTA authenication and social
                    login</b>,
                <b>PWA</b> and <b> node js api </b>for user management.But below demo does not connected to nodejs or OKTA.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://stackblitz.com/edit/animestream-okta" target="animestream"><img src="assets/images/stackblitz.png" alt="stackblitz" /></a>
                </span>
                <span class="link-item">
                    <a href="https://animestream-okta.stackblitz.io/" target="animestream-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
            </div>
        </div>
    </div>
    <div id="covid" class="project corona-tracker">
        <div class="project-img-section">
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3>Corona Tracker</h3>
            <p>
                Created covid case tracker app using Angular with bootstrap framework and public covid API.
                Mainly focused on <b>lifecycle hooks</b>, <b>adaptive design </b>(designed for mobile), <b>css animation
                    with javascript manipulation</b>,
                <b>vector illusrations</b>.
            </p>
            <div class="link-items flex fx-jus-end">
                <span class="link-item">
                    <a href="https://stackblitz.com/edit/coviddemo" target="covid"><img src="assets/images/stackblitz.png" alt="stackblitz" /></a>
                </span>
                <span class="link-item">
                    <a href="https://coviddemo.stackblitz.io" target="covid-link"><img src="assets/images/link.png" alt="link" /></a>
                </span>
            </div>
        </div>
    </div> -->

    <div class="arrow">
        <img src="assets/images/arrow.png" alt="arrow" />
    </div>
</div>