<div class="skill-level">
    <div class="level expert"><span>Expert</span></div>
    <div class="level advance"><span>Advance</span></div>
    <div class="level intermediate"><span>Intermediate</span></div>
    <div class="level elementary"><span>Elementary</span></div>
    <div class="level beginner"><span>Beginner</span></div>
</div>
<div class="chart-skills">
   <div class="chart-area">
    <div class="bar angular"></div>
    <div class="bar react"></div>
    <div class="bar node"></div>
    <div class="bar spring"></div>
    <div class="bar sass"></div>
    <div class="bar bootstrap"></div>
   </div>
   <div class="skills">
    <div class="skill">Angular</div>
    <div class="skill">React JS</div>
    <div class="skill">Node JS</div>
    <div class="skill">Spring Boot</div>
    <div class="skill">SASS</div>
    <div class="skill">Bootstrap</div>
   </div>
</div>