<div class="skill-level">
    <ng-template ngFor let-level [ngForOf]="skillData['skill-level']">
        <div class="level {{level | lowercase}}">
            <span>{{level}}</span>
        </div>
    </ng-template>
</div>
<div class="chart-skills">
   <div class="chart-area">
    <div class="bar angular"></div>
    <div class="bar react"></div>
    <div class="bar node"></div>
    <div class="bar spring"></div>
    <div class="bar sass"></div>
    <div class="bar bootstrap"></div>
   </div>
   <div class="skills">
    <ng-template ngFor let-tech [ngForOf]="skillData.skillsets.Technology">
        <div class="skill">{{tech}}</div>
     </ng-template>
   </div>
</div>