@import '../../../../../assets/scss/utility';
// *{
//     border: solid;
// }
.skill-level{
    .level{
    }
}
.chart-skills{
    .chart-area{
        background-image: url(../../../../../assets/images/3dtext/frameworkandlibrary.webp);
        background-size: 100%;
        // filter: brightness(1.4) hue-rotate(110deg);
        background-position: center top;
        background-repeat: no-repeat;
        .bar{
            min-width: 9%;
            margin: 0 3%;
            @media (max-width:460px) and (min-width:350px) {
                margin: 0 1.5%;
            }
            @media (max-width:350px) {
                margin: 0 2%;
                min-width: 8%;
            }
        }
        .angular {
            height: 75%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s;
        }
        .react {
            height: 58%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s 0.5s;
        }
        .node {
            height: 37%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s 0.5s;
        }
        .spring {
            height: 58%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s 1s;
        }
        .sass {
            height: 75%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s 1s;
        }
        .bootstrap {
            height: 58%;
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 2s 1s;
        }
    }
    .skills{
        .skill{
            margin: -2% 3%;
            min-width: 9%;
            max-width: 9%;
            @media (max-width:460px) and (min-width:350px) {
                margin: -2% 1.5%;
            }
            @media (max-width:350px) {
                margin: -2% 2%;
                min-width: 8%;
                max-width: 8%;
            }
        }
    }
}