<div class="app-container">
  <div class="navbar absolute flex fx-jus-center fx-align-center">
    <span routerLink="/intro" routerLinkActive="active">
      <a>
        I AM
      </a>
    </span>
    <span routerLink="/exp" routerLinkActive="active">
      <a>
        EXP
      </a>
    </span>
    <span routerLink="/skill" routerLinkActive="active">
      <a>
        SKILL
      </a>
    </span>
    <span routerLink="/work" routerLinkActive="active">
      <a>
        WORK
      </a>
    </span>
  </div>
  <router-outlet></router-outlet>
  <div class="footer absolute">
    <div class="contact">
      <span class="text">Contact</span>
      <span class="social">
        <span class="lin"><img src="assets/images/linkedin.png" width="25px" style="height: auto;" alt="linkedin"></span>
        <span class="dribbble"><img src="assets/images/dribbble.png" width="25px" style="height: auto;" alt="dribbble"></span>
        <span class="github"><img src="assets/images/github.png" width="25px" style="height: auto;" alt="github"></span>
        <span class="gmail"><img src="assets/images/gmail.png" width="25px" style="height: auto;" alt="gmail"></span>
      </span>
    </div>
  </div>
</div>