<div class="app-container">
  <div class="navbar absolute flex fx-jus-center fx-align-center">
    <span routerLink="/intro" routerLinkActive="active">
      <a>
        INTRO
      </a>
    </span>
    <span routerLink="/exp" routerLinkActive="active">
      <a>
        EXP
      </a>
    </span>
    <span routerLink="/skill" routerLinkActive="active">
      <a>
        SKILL
      </a>
    </span>
    <span routerLink="work" routerLinkActive="active">
      <a>
        WORK
      </a>
    </span>
  </div>
  <router-outlet></router-outlet>
</div>