@import "../assets/scss/variables";

.app-container {
    height: inherit;
    .navbar {
        top: 0;
        width: 100%;
        height: fit-content;
        span {
            margin: 1rem;
            padding: 0.3rem 0.6rem;
            border-radius: 15%;
            box-shadow: $btn-shadow;
            &:hover {
                box-shadow: $btn-shadow-active;
            }
            &.active {
                background: #ffffff57;
                color: rgb(53, 67, 75);
                box-shadow: $btn-shadow-active;
            }
            @media (max-width: 576px) {
                margin: 0.8rem;
                margin-left: 0.4rem;
                margin-right: 0.4rem;
            }
        }
    }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
