<div class="skill-level">
    <div class="level expert"><span>Expert</span></div>
    <div class="level advance"><span>Advance</span></div>
    <div class="level intermediate"><span>Intermediate</span></div>
    <div class="level elementary"><span>Elementary</span></div>
    <div class="level beginner"><span>Beginner</span></div>
</div>
<div class="chart-skills">
   <div class="chart-area">
       <div class="bar figma"></div>
       <div class="bar blender2d"></div>
       <div class="bar blender3d"></div>
       <div class="bar photoshop"></div>
   </div>
   <div class="skills">
    <div class="skill">Figma</div>
    <div class="skill">2D Blender</div>
    <div class="skill">3D Blender</div>
    <div class="skill">Photoshop</div>
   </div>
</div>