<div class="skill-level">
    <ng-template ngFor let-level [ngForOf]="skillData['skill-level']">
        <div class="level {{level | lowercase}}">
            <span>{{level}}</span>
        </div>
    </ng-template>
</div>
<div class="chart-skills">
   <div class="chart-area">
       <div class="bar figma"></div>
       <div class="bar blender2d"></div>
       <div class="bar blender3d"></div>
       <div class="bar photoshop"></div>
   </div>
   <div class="skills">
    <ng-template ngFor let-ux [ngForOf]="skillData.skillsets['UX/UI']">
        <div class="skill">{{ux}}</div>
     </ng-template>
   </div>
</div>