/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import './assets/scss/utility';

*, ::after, ::before{
    margin: 0;
    padding: 0;
    height: inherit;
}

html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    @media (max-width: 768px) { 
        height: fit-content;
    }
    @media (max-width:570px) {
        height: fit-content;
    }
}
body{
    .app-container{
        [class$="-container"]{
            padding-top: 60px;
            height: calc(100% - 60px);
            @media (max-width:576px) {
                width: fit-content;
                height: inherit;
            }
        }
    }
}