<div class="exp-container">
    <div class="flex">
        <div class="exp-content flex fx-dir-column fx-jus-center">
            <h1 [innerHTML]="experienceData['ex-brief'].brief"></h1>
            <h4 [innerHTML]="experienceData['ex-brief'].description[0]"></h4>
            <h4 [innerHTML]="experienceData['ex-brief'].description[1]"></h4>
            <!-- <h4><b>Scroll or Tab links</b></h4> -->
        </div>
        <div class="exp-img">
            <div class="img chair"></div>
            <div class="img body"></div>
            <div class="img head"></div>
            <div class="img lhand"></div>
            <div class="img rhand"></div>
            <div class="img lapglow"></div>
            <div class="img lap"></div>
        </div>
    </div>

    <ng-template ngFor let-item [ngForOf]="experienceData['projects']">
        <div [id]="item.type" class="project {{item.type}}">

            <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
                <h3 [innerHTML]="item.brief"></h3>
                <p [innerHTML]="item.description"></p>
            </div>
            <div class="project-img-section">
                <div class="project-img lap"></div>
                <div class="project-img phone"></div>
                <div class="project-img tab"></div>
            </div>

        </div>
    </ng-template>


    <!-- <div id="angular" class="project angular">

        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3 [innerHTML]="experienceData['projects'][0].brief"></h3>
            <p [innerHTML]="experienceData['projects'][0].description"></p>

        </div>
        <div class="project-img-section">
            <div class="project-img lap"></div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
    </div>
    <div id="react" class="project react">

        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3 [innerHTML]="experienceData['projects'][1].brief"></h3>
            <p [innerHTML]="experienceData['projects'][1].description"></p>

        </div>
        <div class="project-img-section">
            <div class="project-img lap"></div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
    </div>
    <div id="java" class="project java">

        <div class="project-content flex fx-dir-column fx-jus-center fx-align-start">
            <h3 [innerHTML]="experienceData['projects'][2].brief"></h3>
            <p [innerHTML]="experienceData['projects'][2].description"></p>
        </div>
        <div class="project-img-section">
            <div class="project-img lap"></div>
            <div class="project-img phone"></div>
            <div class="project-img tab"></div>
        </div>
    </div> -->


<div class="arrow"><img src="assets/images/arrow.png" alt="arrow" /></div>
</div>