<div class="exp-container">
    <div class="flex">
        <div class="exp-content flex fx-dir-column fx-jus-center">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, rem.</h1>
            <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rerum quae placeat quis ipsum vel, magnam voluptate velit provident veritatis!</h4>
        </div>
        <div class="exp-img">
            <div class="img chair"></div>
            <div class="img body"></div>
            <div class="img head"></div>
            <div class="img lhand"></div>
            <div class="img rhand"></div>
            <div class="img lap"></div>
        </div>
    </div>
</div>